package auth

import "github.com/henriquepw/imperium-tattoo/view/layout"

templ LoginForm() {
	@layout.Base("Entrar") {
		<section class="flex w-full h-screen">
			<form class="flex flex-col gap-4 m-auto p-4 rounded border">
				<h1 class="font-sans text-white text-2xl">Imperium Tattoo</h1>
				<input placeholder="username"/>
				<input placeholder="password"/>
			</form>
		</section>
	}
}
