package client

import (
	"github.com/henriquepw/imperium-tattoo/web/view/layout"
	"github.com/henriquepw/imperium-tattoo/web/view/ui"
)

templ ClientsPage() {
	@layout.Dashbaord("Painel", "clients", false) {
		@layout.PageHeader(
			"Clientes",
			[]ui.BreadcrumbItem{
				{Label: "Clientes", Href: "/clients"},
			},
		)
		<section>
			CLIENTS
		</section>
	}
}
