package pages

import (
	"github.com/henriquepw/imperium-tattoo/web/view/layout"
	"github.com/henriquepw/imperium-tattoo/web/view/ui"
)

templ ClientsPage(boosted bool) {
	@layout.Dashbaord("Painel", boosted) {
		@layout.PageHeader(
			"Clientes",
			[]ui.BreadcrumbItem{
				{Label: "Clientes", Href: "/clients"},
			},
		)
		@layout.WithPageLoad() {
			<section>
				CLIENTS
			</section>
		}
	}
}
