package pages

import (
	"github.com/henriquepw/imperium-tattoo/web/types"
	"github.com/henriquepw/imperium-tattoo/web/view/layout"
)

templ ClientDetailPage(boosted bool, client types.Client) {
	@layout.Dashbaord(client.Name, boosted) {
		TODO
	}
}
