package pages

import (
	"github.com/henriquepw/imperium-tattoo/web/view/layout"
	"github.com/henriquepw/imperium-tattoo/web/view/ui"
)

templ DashboardPage(boosted bool) {
	@layout.Dashbaord("Painel", boosted) {
		@layout.PageHeader(
			"Painel",
			[]ui.BreadcrumbItem{
				{Label: "Painel", Href: "/dashboard"},
			},
		)
		@layout.WithPageLoad() {
			<section>
				MAIN
			</section>
		}
	}
}
