@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    @apply bg-gray-2 backdrop-blur border border-gray-7 rounded-lg p-4
  }

  .btn-primary {
    @apply flex items-center justify-center gap-1.5 h-9 px-3 rounded bg-accent-9;
    @apply font-bold text-gray-12 text-center;
    @apply transition-all hover:bg-accent-10 active:bg-accent-11 active:scale-95;
  }

  .input {
    @apply rounded-md min-h-9 px-2 bg-gray-1 border outline-none;
    @apply placeholder:text-gray-10;
    @apply hover:border-gray-10 active:border-accent-10;
    @apply focus:border-accent-10 focus:ring-2 focus:ring-accent-10;
  }

  .column {
    @apply flex w-full flex-col gap-2 sm:gap-4;
  }

  .row {
    @apply flex w-full gap-2 flex-col items-stretch sm:items-start sm:flex-row sm:gap-4;
  }
}

@layer base {
  td {
    @apply py-3 px-4;
  }

  thead td {
    @apply bg-gray-3 border-b border-gray-6 font-bold text-sm uppercase;
  }

  tr+tr td {
    @apply border-t border-t-gray-6;
  }

  @font-face {
    font-family: raleway;
    font-weight: 400;
    font-style: normal;
    src: url(/static/font/raleway-regular.woff2);
  }

  @font-face {
    font-family: raleway;
    font-weight: 500;
    font-style: medium;
    src: url(/static/font/raleway-medium.woff2);
  }

  @font-face {
    font-family: raleway;
    font-weight: 700;
    font-style: bold;
    src: url(/static/font/raleway-bold.woff2);
  }

  .dark {
    --sand-1: #111110;
    --sand-2: #191918;
    --sand-3: #222221;
    --sand-4: #2a2a28;
    --sand-5: #31312e;
    --sand-6: #3b3a37;
    --sand-7: #494844;
    --sand-8: #62605b;
    --sand-9: #6f6d66;
    --sand-10: #7c7b74;
    --sand-11: #b5b3ad;
    --sand-12: #eeeeec;

    --sand-a1: #00000000;
    --sand-a2: #f4f4f309;
    --sand-a3: #f6f6f513;
    --sand-a4: #fefef31b;
    --sand-a5: #fbfbeb23;
    --sand-a6: #fffaed2d;
    --sand-a7: #fffbed3c;
    --sand-a8: #fff9eb57;
    --sand-a9: #fffae965;
    --sand-a10: #fffdee73;
    --sand-a11: #fffcf4b0;
    --sand-a12: #fffffded;

    --orange-1: #17120e;
    --orange-2: #1e160f;
    --orange-3: #331e0b;
    --orange-4: #462100;
    --orange-5: #562800;
    --orange-6: #66350c;
    --orange-7: #7e451d;
    --orange-8: #a35829;
    --orange-9: #f76b15;
    --orange-10: #ff801f;
    --orange-11: #ffa057;
    --orange-12: #ffe0c2;

    --tomato-1: #181111;
    --tomato-2: #1f1513;
    --tomato-3: #391714;
    --tomato-4: #4e1511;
    --tomato-5: #5e1c16;
    --tomato-6: #6e2920;
    --tomato-7: #853a2d;
    --tomato-8: #ac4d39;
    --tomato-9: #e54d2e;
    --tomato-10: #ec6142;
    --tomato-11: #ff977d;
    --tomato-12: #fbd3cb;

    --cyan-1: #0b161a;
    --cyan-2: #101b20;
    --cyan-3: #082c36;
    --cyan-4: #003848;
    --cyan-5: #004558;
    --cyan-6: #045468;
    --cyan-7: #12677e;
    --cyan-8: #11809c;
    --cyan-9: #00a2c7;
    --cyan-10: #23afd0;
    --cyan-11: #4ccce6;
    --cyan-12: #b6ecf7;

    --green-1: #0e1512;
    --green-2: #121b17;
    --green-3: #132d21;
    --green-4: #113b29;
    --green-5: #174933;
    --green-6: #20573e;
    --green-7: #28684a;
    --green-8: #2f7c57;
    --green-9: #30a46c;
    --green-10: #33b074;
    --green-11: #3dd68c;
    --green-12: #b1f1cb;

    --amber-1: #16120c;
    --amber-2: #1d180f;
    --amber-3: #302008;
    --amber-4: #3f2700;
    --amber-5: #4d3000;
    --amber-6: #5c3d05;
    --amber-7: #714f19;
    --amber-8: #8f6424;
    --amber-9: #ffc53d;
    --amber-10: #ffd60a;
    --amber-11: #ffca16;
    --amber-12: #ffe7b3;
  }

  .light {
    --sand-1: #fdfdfc;
    --sand-2: #f9f9f8;
    --sand-3: #f1f0ef;
    --sand-4: #e9e8e6;
    --sand-5: #e2e1de;
    --sand-6: #dad9d6;
    --sand-7: #cfceca;
    --sand-8: #bcbbb5;
    --sand-9: #8d8d86;
    --sand-10: #82827c;
    --sand-11: #63635e;
    --sand-12: #21201c;

    --orange-1: #fefcfb;
    --orange-2: #fff7ed;
    --orange-3: #ffefd6;
    --orange-4: #ffdfb5;
    --orange-5: #ffd19a;
    --orange-6: #ffc182;
    --orange-7: #f5ae73;
    --orange-8: #ec9455;
    --orange-9: #f76b15;
    --orange-10: #ef5f00;
    --orange-11: #cc4e00;
    --orange-12: #582d1d;

    --tomato-1: #fffcfc;
    --tomato-2: #fff8f7;
    --tomato-3: #feebe7;
    --tomato-4: #ffdcd3;
    --tomato-5: #ffcdc2;
    --tomato-6: #fdbdaf;
    --tomato-7: #f5a898;
    --tomato-8: #ec8e7b;
    --tomato-9: #e54d2e;
    --tomato-10: #dd4425;
    --tomato-11: #d13415;
    --tomato-12: #5c271f;

    --cyan-1: #fafdfe;
    --cyan-2: #f2fafb;
    --cyan-3: #def7f9;
    --cyan-4: #caf1f6;
    --cyan-5: #b5e9f0;
    --cyan-6: #9ddde7;
    --cyan-7: #7dcedc;
    --cyan-8: #3db9cf;
    --cyan-9: #00a2c7;
    --cyan-10: #0797b9;
    --cyan-11: #107d98;
    --cyan-12: #0d3c48;

    --green-1: #fbfefc;
    --green-2: #f4fbf6;
    --green-3: #e6f6eb;
    --green-4: #d6f1df;
    --green-5: #c4e8d1;
    --green-6: #adddc0;
    --green-7: #8eceaa;
    --green-8: #5bb98b;
    --green-9: #30a46c;
    --green-10: #2b9a66;
    --green-11: #218358;
    --green-12: #193b2d;

    --amber-1: #fefdfb;
    --amber-2: #fefbe9;
    --amber-3: #fff7c2;
    --amber-4: #ffee9c;
    --amber-5: #fbe577;
    --amber-6: #f3d673;
    --amber-7: #e9c162;
    --amber-8: #e2a336;
    --amber-9: #ffc53d;
    --amber-10: #ffba18;
    --amber-11: #ab6400;
    --amber-12: #4f3422;
  }
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  border-color: var(--sand-7);
  outline-color: var(--orange-10);
}
