package ui

templ FormField(name, label, formErr string, required bool, classname ...string) {
	<div class={ "flex flex-col flex-1 text-gray-12" , classname }>
		if label != "" {
			<label for={ name } class="font-medium text-md">
				{ label }
				if required {
					<span aria-label="Obrigatório" class="text-error-10 font-bold text-lg leading-none">*</span>
				}
			</label>
		}
		{ children... }
		if formErr != "" {
			<span class="font-medium text-error-10">{ formErr }</span>
		}
	</div>
}
