package ui

type FormFieldProps struct {
	Label string
	Error string
}

templ FormField(props FormFieldProps) {
	<div class="flex flex-col text-gray-12">
		<label class="font-medium text-sm">{ props.Label }</label>
		{ children... }
		if props.Error != "" {
			<span class="font-medium text-error-10">{ props.Error }</span>
		}
	</div>
}
