package ui

templ FormField(label, formErr string, classname ...string) {
	<div class={ "flex flex-col text-gray-12" , classname }>
		if label != "" {
			<label class="font-medium text-md">{ label }</label>
		}
		{ children... }
		if formErr != "" {
			<span class="font-medium text-error-10">{ formErr }</span>
		}
	</div>
}
