package ui

templ SubmitBtn(icon, loadingText string, classname ...string) {
	<button
		type="submit"
		class={
			"btn-primary [.htmx-request_&]:opacity-50 group-[.htmx-request]:pointer-events-none",
			classname,
		}
	>
		<div class="items-center gap-1.5 hidden group-[.htmx-request]:flex">
			@Icon("loader", "h-5 w-5 animate-spin")
			{ loadingText }
		</div>
		<div class="flex gap-1.5 group-[.htmx-request]:hidden">
			@Icon(icon, "h-5 w-5")
			{ children... }
		</div>
	</button>
}
