package ui

import "strconv"

templ TEmpty(msg string, columns int) {
	<template x-if="count === 0">
		<tr>
			<td colspan={ strconv.Itoa(columns) } class="bg-warning-2">
				<div class="text-center text-warning-12">
					{ msg }
				</div>
			</td>
		</tr>
	</template>
}

templ Table(className ...string) {
	<div class={ "card p-0 overflow-auto min-w-full w-0",className }>
		<table class="table-auto w-full">
			{ children... }
		</table>
	</div>
}
