package ui

type TextInputProps struct {
	Name        string
	Placeholder string
	Label       string
	Value       string
	Error       string
	Class       string
}

templ TextInput(props TextInputProps) {
	@FormField(FormFieldProps{Label: props.Label, Error: props.Error}) {
		<input
			name={ props.Name }
			placeholder={ props.Placeholder }
			value={ props.Value }
			class={ "rounded px-2 h-10 bg-neutral-600 placeholder:text-neutral-400" + props.Class }
		/>
	}
}
