@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Raleway;
    font-weight: 400;
    font-style: normal;
    src: url(/static/font/Raleway-Regular.ttf);
  }

  @font-face {
    font-family: Raleway;
    font-weight: 500;
    font-style: medium;
    src: url(/static/font/Raleway-Medium.ttf);
  }

  @font-face {
    font-family: Raleway;
    font-weight: 700;
    font-style: bold;
    src: url(/static/font/Raleway-Bold.ttf);
  }
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
