package ui

type FormFieldProps struct {
	Label string
}

templ FormField(props FormFieldProps) {
	<div class="flex flex-col text-white">
		<label class="font-medium">{ props.Label }</label>
		{ children... }
	</div>
}
