package ui

type TextInputProps struct {
	Name        string
	Placeholder string
	Label       string
}

templ TextInput(props TextInputProps) {
	@FormField(FormFieldProps{Label: props.Label}) {
		<input name={ props.Name } placeholder={ props.Placeholder } class="rounded px-2 h-10"/>
	}
}
