package home

import "github.com/henriquepw/imperium-tattoo/web/view/layout"

templ HomePage() {
	@layout.Base("Painel") {
		<main>
			<aside>
				Sidebar
			</aside>
			<section>
				TODO
			</section>
		</main>
	}
}
