package home

import (
	"github.com/henriquepw/imperium-tattoo/web/view/layout"
	"github.com/henriquepw/imperium-tattoo/web/view/ui"
)

templ HomePage() {
	@layout.Dashbaord("Painel", "home", false) {
		@layout.PageHeader(
			"Painel",
			[]ui.BreadcrumbItem{
				{Label: "Painel", Href: "/"},
			},
		)
		<section>
			MAIN
		</section>
	}
}
